<%- include('../partials/header') %>
<table id='list' class = "table">
    <thead>
      <tr>
        <th>Item Name</th>
        <th>Price</th>
        <th>Location</th>
        <th>Date</th>
        <th>Category</th>
        <th>Upcoming</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% items.forEach((m) => { %>
        <tr>
          <td><%= m.name %></td>
          <td><%= m.cost %></td>
          <td><%= m.location %></td>

          <!-- Proper Date Formatting: -->
          <% const dateTimeFormat = new Intl.DateTimeFormat('en', { year: 'numeric', month: 'short', day: '2-digit' }) %>
          <% const [{ value: month },,{ value: day },,{ value: year }] = dateTimeFormat .formatToParts(m.date) %>
          <td><%= `${day}-${month}-${year }`%></td>

          <td><%= m.category %></td>
          
          <% if (m.upcoming) { %>
              <%= m.upcoming = "UPCOMING" %>
              <td><%= m.upcoming %></td>
          <% } else { %>
             <td><%= m.upcoming = "No" %></td>
            <% } %> 
        </tr>
      <% }) %>
    </tbody>
  </table>
<% let totalSpendings = 0 %>
  <h3> Total Spendings: 
      <% items.forEach((m) => { %>
        <% totalSpendings += m.cost %>
  <% }) %>
  $<%= totalSpendings %>
  <% User.totalSpendings %> 
  </h3>

<%- include('../partials/footer') %>
